$tiny-screen			: 480px; // tiny screens media query (less than 480px)
$small-screen			: 768px; // screens between 481px and 768px
$medium-screen		: 1024px; // screens between 769px and 1024px
$large-screen			: 1280px; // screens between 1025px and 1280px

$tiny-breakpoint: new-breakpoint(max-width $tiny-screen);
$small-breakpoint: new-breakpoint(min-width $tiny-screen max-width $small-screen);
$medium-breakpoint: new-breakpoint(min-width $small-screen max-width $medium-screen);
$large-breakpoint: new-breakpoint(min-width $medium-screen max-width $large-screen);
